* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.registration {
  /* display: flex; */
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}
.container-lg {
  max-width: 850px;
  margin: 3.5% auto;
  width: 100%;
  background: #e3e3e3;
  padding: 25px 30px;
  border-radius: 5px;
}

.container-lg .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container-lg .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  background: linear-gradient(135deg, #eb3737, #f0245e);
}

.container-lg form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 20px 0 12px 0; */
}

form .user-details .input-box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 35px;
  width: 100%;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0 3s ease;
}
.user-details .input-box .bgroup {
  height: 33px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 5px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .button {
  height: 40px;
  margin: 20px 0;
  cursor: pointer;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  background: linear-gradient(135deg, #f93548, #590303);
}

.link {
  color: black;
}

.nav-link {
  color: black;
}

.nav-item:hover {
  background-color: #ff4122;
  /* background-color: #ff6242; */
  color: black;
}

.nav-link:hover {
  color: black;
}
